# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

test_list
debug_hash_table
test_hash_func
test_time

# Test results
*.csv

# Logs
*.html
*.txt

# Callgrind (profiler) out
callgrind.out.*

# Calculation tools
average.cpp
average
